@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: inherit;
    text-decoration: none;
    font: inherit;
}